/* NAVBAR */

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 75px;
  background-color: #009DAE;
  padding: 0px 15px;
}

#leftNav {
  display: flex;
}

#leftNav h2 {
  color: #FFE652;
  user-select: none;
}

#rightNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
}

#rightNav a {
  color: #C2FFF9;
  text-decoration: none;
}

#rightNav a:hover {
  color: #71DFE7;
  text-decoration: none;
}